/* .sidebarmain{
    font-family: 'serif';
    box-shadow: 0px 0px 15px grey;
    height: 600px;
    width: 182px;
    @media (max-width:840px) {
        height: 1120px;
        width: 150px;
    }                              
} */



/* .sidebar_maindiv {
    width: 180px;
    height: 180px;
    box-shadow: 0px 0px 10px grey;

    @media (max-width:840px) {
        width: 150px;
    }
} */



/* .Sidebar_img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    align-items: center;
    position: relative;
    left: 28%;
    margin-top: 15px;

    @media (max-width:840px) {
        left: 22%;
    }
} */
/* .sidelog{
    text-align: center;
    color: blue;
    background-color: rgb(228, 244, 252);
    font-weight: bold;
    border: 1px solid rgb(208, 206, 206);
    top: 110px;

    @media (max-width:840px) {
        top: 0;
    }
} */

/* .sidemenu {
    font-weight: bold;
    border: 1px solid rgb(208, 206, 206);
} */

/* :where(.css-dev-only-do-not-override-18iikkb).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-18iikkb).ant-menu-light>.ant-menu .ant-menu-item-selected {
    background-color: rgb(155, 219, 254);
    color: black;
}

:where(.css-dev-only-do-not-override-18iikkb).ant-menu-vertical .ant-menu-item {
    width: calc(100% - 20px);
    margin-inline: -5px;
} */

/* divider */

/* .icon {
    color: rgb(25, 104, 224);
} */

/* .divider {
    width: calc(80% -20px);
    background-color: rgb(186, 218, 247);
    border-left: 100px solid white;
    border-bottom: 100px solid transparent;
    margin-left: 180px;
    top: 0;
    @media 
    (max-width:840px) {
        margin-left: 150px;
    }
} */
/* .olstyle{
    padding-left: 20px;
    font-weight: bold;

    @media 
    (max-width:1000px) {
        padding-left: 0;
    }
}
.ol{
    list-style: none;
   
} */

/* list */

/* -------------------------------------------------------------------------------------------- */
/* topplan */
/* .datadiv {
    width: 84%;
    position: absolute;
    left: 12%;
    top: 120px;

    @media (max-width:840px) {
        left: 39%;
        width: 60%;
    }
} */
/* .headh2{
    margin-left: 100px;
    margin-top: 20px;
    width: 52%;
    position: absolute;
    @media (max-width:840px) {
        margin-left: 74px;
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
    }
} */
/* .datadiv2 {
    width: 3.8%;
    position: absolute;
    right: 0;
    top: 100px;
    background-color: rgb(186, 218, 247);
    height: 606px;

    @media (max-width:1510px) {
        display: none;
    }
} */
/* .datadivsub{
    display: flex;

    @media (max-width:1000px) {
       display: block;
       margin-left: 30px;
       margin-top: 130px;
    }

}
.pricedetail{
    height: fit-content;
    margin-left: 101px;
    box-shadow: 0px 0px 10px grey;
    border-radius: 6px;
    margin-top: 20px;
    text-align: left;
    width: 300px;
    transform: translate(28px, 10px);

    @media (max-width:840px) {
        display:block;
        width: 220px;
        padding-top: 10px;
        margin-left: 0;
        margin-top: 20px;
        overflow-y: scroll;
    }

    &:hover {
        transform: translate(-5px,-5px);    
        background-color: #f2f7f9;    
    }
}
.listpara{
    padding-left: 20px;
    font-size: 10px;
    color: black;
    font-weight: 500;
    padding-top: 10px;

    @media (max-width:1000px) {
        padding-left: 0;
    }
    
}
.listprice{
    padding-left: 20px;
    padding-top: 5px;
    font-size: 10px;

    @media (max-width:1000px) {
       padding-left: 0;
    }
} */
/* .details2{
    width: 496px;
    margin-left: 100px;
    margin-top: 20px;
    display: inline-flex;
    box-shadow: 0px 0px 10px grey;
    border-radius: 6px;
    padding-right: 10px;
    transform: translate(30px, 16px);
    @media 
    (max-width:840px) {
        display: block;
        margin-left: 10px;
        width: 210px;
        margin-left: 25px;
    }    
}
.details2{
    @media (max-width:350px){
        margin-left: 100px;
    }
} */

/* dividerhead */

/* .buttondown1{
    margin-left: 20px;
    border: 0;
    border-radius: 3px;
    background-color: #a3dd4b;
    width: 120px;
    height: 25px;
    margin-top: 10px;
    &:hover {
        transform: translate(-5px,-5px);      
    }
} */
/* .buttondown1-2{
    margin-left: 20px;
    border: 0;
    border-radius: 6px;
    background-color: #a3dd4b;
    font-size: 9px;
} */


/* .buttondown2{
    margin-left: 20px;
    border: 0;
    border-radius: 3px;
    background-color: #79cafc;
    width: 120px;
    height: 25px;
    margin-top: 10px;
    &:hover {
        transform: translate(-5px,-5px);    
    }
} */
/* .buttondown2-2{
    margin-left: 20px;
    border: 0;
    border-radius: 6px;
    background-color: #79cafc;
    font-size: 9px;
} */


/* .detailhead{
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    @media (max-width:840px) {
        padding-left: 0;
        font-size: 20px;
    }
} */
/* .notifispan{
    margin-left: 10px;
    box-shadow: 4px 5px -5px grey;
}
.notifi{
    border: 1px solid white;
    padding: 14px;
    background: white;
    color: blue;
}
.blankspace{
    border: 1px solid white;
    background: white;
    width: 30px;
    margin-left: 27px;
    margin-top: 350px;
    height: 120px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px grey;
}
.addbutton{
    border: 1px solid #96c7e6;
    background: #96c7e6;
    width: 30px;
    margin-left: 27px;
    margin-top: 30px;
    height: 30px;
    border-radius: 100%;
} */
/* .explore{
    padding-left: 20px;
    font-size: small;
    color: black;
    font-weight: bold;

    @media (max-width:840px) {
        padding-left: 0;
    }
} */
/* .topplan{
    border: 1px solid black;
    border-radius: 10px;
    height: 25px;
    width: 190px;
    list-style: none;
    display: inline-flex;
    margin-left: 79%;
    padding-left: 5px;

    @media (max-width:840px) {
        width: 180px;
        margin-left: 54px;
    }
}
.topplanbutton{
    border: 0;
    border-radius: 10px;
    margin-top: 2px;
    height: 20px;
    width: 90px;
    text-align: center;
    font-size: 12px;
}
.topplanbutton:active{
    background-color:#4ba5dd;
} */

/* headh2 */

/* .sup{
    position: absolute;
    transform: translate(-25px,4px);
    border: 1px solid red;
    height: 15px;
    width: 12px;
    border-radius: 6px;
    padding-left: 3px;
    background-color: red;
    color: #f2f7f9;
} */
/* .deatil2ol1{
    list-style: none;
    width: 180px;

    @media (max-width:840px) {
        width: 200px;
    }
} */
/* .deatil2ol1-1{
    list-style: none;
    width: 200px;

    @media (max-width:840px) {
        width: 180px;
    }
} */
/* .deatil2ol2{
    list-style: none;
    width: 220px;

    @media (max-width:840px) {
        width: 180px;
    }
} */
/* .deatil2ol2-2{
    list-style: none;
    width: 220px;
    margin-top: 45px;

    @media (max-width:840px) {
        width: 160px;
        margin-top: 0;
    }
} */
/* .getstrbut{
    margin-left: 20px;
    border: 0;
    border-radius: 3px;

    @media (max-width:1000px) {
        margin-left: 0;
    }
} */